<meta charset="utf-8" />
<div class="panel panel-inverse">
    <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 15px;">REPORTE DE
            VENTAS E INGRESOS</h3>
    </div>

    <div class="panel-body">
    	<form class="form-horizontal col-md-offset-3" action="{{accionD}}" method="POST">
    		<div class="form-group">
        		<label class="col-sm-2 control-label" style="font-weight: bold; font-size:14px;">Unidad :</label>
                <div class="col-sm-5">
					<select2  class="form-control" ng-model="facultad" ng-change="actualizarAccion()" s2-options="facultad.id as facultad.name for facultad in facultades">
					</select2>								
                 </div>    		
    		</div>
    		<div class="form-group">
             	<label class="col-sm-2 control-label" style="font-weight: bold; font-size:14px;">Año :</label>
                <div class="col-sm-5">
                    <select class="form-control" ng-change="actualizarAccion()" ng-model="year" ng-options="year.id as year.name for year in years"></select>
                </div>      		
    		</div>
     		<div class="form-group">
		        <label class="col-sm-2 control-label" style="font-weight: bold; font-size:14px;">Mes :</label>
                <div class="col-sm-5">
                    <select class="form-control" ng-init="month=months[0].id" ng-change="actualizarAccion()" ng-model="month" ng-options="month.id as month.name for month in months"></select>
                </div>      		
    		</div> 
			<div class="form-group"> 
				<label class="col-sm-2 control-label"></label>			
				 <div class="col-md-3">
	                <button type="submit" class="btn btn-primary btn-sm bg-green" id="btnReporteExcel" ng-disabled="month<=0">
	                	<i class="fa fa-file-excel-o"></i>  Descargar .xls</button>				 
				 </div>				
			</div>		    		
    	</form>
<!--         		<label class="col-md-3 control-label" style="font-weight: bold; font-size:14px;">Descargar :</label>
                  <div class="col-md-3">
                    <form action="{{accionD}}" method="POST" style="display:inline-block;">
                       <button type="submit" class="btn btn-primary btn-sm mb1 bg-green"
                            id="btnReporteExcel" ng-disabled="month<=0"><i class="fa fa-file-excel-o"></i> .xls</button>
                    </form>                  
                  </div> -->  
    </div>
</div>
