<meta charset="utf-8" />
<style>
	input[type=checkbox] {
	  transform: scale(1.2);
	}
	.tags {
	   margin-bottom: 5px;
	} 
	
	.tags .tag {
	   display: inline-block;
	   margin-right: 5px;
	   font-size: 13px;
	}
	  
	.tag .close {
	   font-size: 14px;
	   margin-left: 5px;
	}
	.anuladoColor {
    	color: red;
	}
	.highlight {
  		background-color: #e8ecf1;
	}
	/* tab color */
	.nav-tabs>li>a {
	  /* border-color: #777777; */
	  background-color: #242a30;
	  color: #aaacb3;
	  border: none!important;
	  border-top-left-radius: 3px;
	  border-top-right-radius: 3px;
	}

	/* active tab color */
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	  background-color: #fff;
	  color: #242a30;
	  border: none!important;
	}
	
	/* hover tab color */
	.nav-tabs>li>a:hover {
	  background-color: #fafafa;
	  border-color: #000000;
	  /* color:#6e7179; */
	  color:#242a30;
	}
	.nav-tabs>li{
	  background-color: transparent;
	}
	.nav-tabs{
	  background-color: #242a30;
	  border-top-left-radius: 3px;
	  border-top-right-radius: 3px;
	}
	.ui-datepicker { position: relative; z-index: 10000 !important; }
	
    .has-errorColor {
    	color: red;
	}
</style>
<!-- Descomentar en caso de que se quiera registrar un nuevo establecimiento
<div class="panel panel-inverse">
    <div class="panel-heading">
        <h3 class="panel-title" style="font-size:15px;">MANTENIMIENTO DE ESTABLECIMIENTOS</h3>
    </div>

    <div class="panel-body">
      
       <div class="row">       
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div style="margin: 0; background-color: transparent; text-align: center;">
					<button type="button" class="btn btn-sm btn-primary" ng-click='abrirModal("#Nuevo")'><span class="glyphicon glyphicon-plus"></span> Registrar establecimiento</button>
				</div>
			</div>		
       </div>        
        
	</div>
</div> -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title" style="font-size:15px;">MANTENIMIENTO DE ESTABLECIMIENTOS</h4>
    </div>
    <div class="panel-body">
    	<div class="tablecontainer table-responsive">
        	<table ng-table="tableParams" class="table table-striped table-bordered table-condensed">
                <tr ng-repeat="c in $data">
                	<td  data-title="'UNIDAD'" style="vertical-align:middle;text-align: left"><div ng-bind="c.unidad"></div></td>
					<td  data-title="'SERIE'" style="vertical-align:middle;text-align: center"><div ng-bind="c.codEst"></div></td>
					<td  data-title="'N° FACTURA'" style="vertical-align:middle;text-align: center"><div ng-bind="c.ultFact"></div></td>
					<td  data-title="'N° BOLETA'" style="vertical-align:middle;text-align: center"><div ng-bind="c.ultBole"></div></td>
					<td  data-title="'DIRECCIÓN'" style="vertical-align:middle;text-align: left"><div ng-bind="c.direccion"></div></td>
					<td  data-title="'TELÉFONO'" style="vertical-align:middle;text-align: right"><div ng-bind="c.telefono"></div></td>
					<td  data-title="'CORREO'" style="vertical-align:middle;text-align: left"><div ng-bind="c.correo"></div></td>
					<td  data-title="'ESTADO'" style="vertical-align:middle;text-align: center"><button style='width:110px;' class={{c.estado|colorEstado}} ng-click="cambio(c,$index)">{{c.estado|estado}}</button></td>					
					<td  data-title="'OPCIONES'" style="vertical-align:middle;width:150px;text-align: center">
							<a title="Editar" title="Editar" ng-click='editar(c)' class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
<!-- 							<a title="Eliminar" title="Borrar" ng-click='confirmacion(c)' class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a> -->					
                </tr>
            </table>
    	</div>
	</div>
</div>
<div class="modal fade" data-backdrop="static" id="Editar">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">EDITAR ESTABLECIMIENTO</h4>
				</div>
				<div class="modal-body">
					<div class="m-b-10 row">
                   		<span class="col-md-5 asterisk-required"><em>(<span>*</span>) : campos obligatorios</em></span>
                   	</div>
					    			<br>
					<form name="formularioEditar">
					    <div class="row">
			    			<div class="col-xs-12" ng-class="{ 'has-error' :formularioEditar.unidad.$error.required}">
				    			<label>Unidad (*):</label>
								<input type="text" name="unidad" class="form-control" placeholder="Unidad" ng-model="unidad" disabled="true" required>
					    		<div class="has-errorColor" ng-show="formularioEditar.unidad.$dirty">
				                    <span ng-show="formularioEditar.unidad.$error.required">Ingrese una unidad</span>
				                </div>
				    			<br>
				    		</div>
					    	<div class="col-xs-12" ng-class="{ 'has-error' :formularioEditar.codEst.$error.required}">
				    			<label>Código de Establecimiento (*): </label>
				    			<input type="text" name="codEst" class="form-control" placeholder="N° Serie" ng-model="temp.codEst" disabled required>
				    			<div class="has-errorColor" ng-show="formularioEditar.codEst.$dirty">
				                    <span ng-show="formularioEditar.codEst.$error.required">Ingrese un código de establecimiento</span>
				                </div>
				    			<br>
				    		</div>
					    	<div class="col-xs-12" ng-class="{ 'has-error' :formularioEditar.direccion.$error.pattern || formularioEditar.direccion.$error.required}">
				    			<label>Dirección (*): </label>
				    			<input type="text" name="direccion" class="form-control" placeholder="Dirección" ng-model="temp.direccion" ng-pattern="/^([^\f\n\r\t\v]){1,300}$/" required>
				    			<div class="has-errorColor" ng-show="formularioEditar.direccion.$dirty">
				                    <span ng-show="formularioEditar.direccion.$error.required">Ingrese una dirección</span>
                                    <span ng-show="formularioEditar.direccion.$error.pattern">La dirección no puede tener más de 300 caracteres</span>
				                </div>
				    			<br>
				    		</div>
<!-- 					    	<div class="col-xs-12" ng-class="{ 'has-error' :formularioEditar.ultFact.$error.required || formularioEditar.ultFact.$error.pattern}">
				    			<label>N° Factura (*): </label>
				    			<input type="text" name="ultFact" class="form-control" placeholder="N° Factura" ng-model="temp.ultFact" ng-pattern="/^\d+$/" disabled required>
				    			<div class="has-errorColor" ng-show="formularioEditar.ultFact.$dirty">
				                    <span ng-show="formularioEditar.ultFact.$error.required">Ingrese un número de Factura</span>
                                    <span ng-show="formularioEditar.ultFact.$error.pattern">Ingrese un número de Factura valido</span>
				                </div>
				    			<br>
				    		</div>
					    	<div class="col-xs-12" ng-class="{ 'has-error' :formularioEditar.ultBole.$error.required || formularioEditar.ultBole.$error.pattern}">
				    			<label>N° Boleta (*): </label>
				    			<input type="text" name="ultBole" class="form-control" placeholder="N° Boleta" ng-model="temp.ultBole" ng-pattern="/^\d+$/" disabled required>
				    			<div class="has-errorColor" ng-show="formularioEditar.ultBole.$dirty">
				                    <span ng-show="formularioEditar.ultBole.$error.required">Ingrese un número de boleta</span>
                                    <span ng-show="formularioEditar.ultBole.$error.pattern">Ingrese un número de boleta valido</span>
				                </div>
				    			<br>
				    		</div> -->
					    	<div class="col-xs-12" ng-class="{ 'has-error' :formularioEditar.telefono.$error.required || formularioEditar.telefono.$error.pattern}">
				    			<label>Teléfono (*): </label>
				    			<input type="text" name="telefono" class="form-control" placeholder="Teléfono" ng-model="temp.telefono" ng-pattern="/^([^\f\n\r\t\v]){1,90}$/" required maxlength="80">
				    			<div class="has-errorColor" ng-show="formularioEditar.telefono.$dirty">
				                    <span ng-show="formularioEditar.telefono.$error.required">Ingrese un teléfono</span>
                                    <span ng-show="formularioEditar.telefono.$error.pattern">El teléfono no puede tener más de 300 caracteres</span>
				                </div>
				    			<br>
				    		</div>
					    	<div class="col-xs-12" ng-class="{ 'has-error' :formularioEditar.correo.$error.required || formularioEditar.correo.$error.email}">
				    			<label>Correo (*): </label>
				    			<input type="email" name="correo" class="form-control" placeholder="Correo" ng-model="temp.correo" required>
				    			<div class="has-errorColor" ng-show="formularioEditar.correo.$dirty">
				                    <span ng-show="formularioEditar.correo.$error.required">Ingrese un correo</span>
				                    <span ng-show="formularioEditar.correo.$error.email">Ingrese un correo valido</span>
				                </div>
				    			<br>
				    		</div>
					    	<div class="col-xs-12">
					    	    <h5>Envío Sunat:&nbsp;&nbsp;<input type="checkbox" style="vertical-align:bottom;" ng-model="sunat"/></h5><br>
				    		</div>	
					    	<div class="col-xs-12">
				    			<label><strong>Envío Sunat: </strong> Envío a la SUNAT automático (Solo aplica para facturas y boletas)</label>
				    		</div>				    						    		
					    </div>
				    </form>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-sm btn-primary" ng-click="update()" ng-disabled="formularioEditar.$invalid">Guardar</a>
					<a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cerrar</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" data-backdrop="static" id="Nuevo">
		<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 class="modal-title">Nuevo Establecimiento</h4>
					</div>
					<div class="modal-body">
							<div class="m-b-10 row">
                            	<span class="col-md-5 asterisk-required"><em>(<span>*</span>) : campos obligatorios</em></span>
                            </div>
					    			<br>
						<form name="formularioNuevo">
					        <div class="row">
					        	<div class="col-xs-12" ng-class="{ 'has-error' :formularioNuevo.unidad.$error.required && !formularioNuevo.unidad.$pristine}">
					    			<label>Unidad (*):</label>
						    		<div class="input-group">
						    			<input type="text" name="unidad" class="form-control" placeholder="Unidad" ng-model="unidad" disabled="true" required>
						    			<div class="input-group-btn">
						    				<a class="btn btn-info" ng-click="openModalUnidad()"><span class="fa fa-search"></span> Buscar</a>
						    			</div>
						    		</div>
						    		<div class="has-errorColor" ng-show="formularioNuevo.unidad.$dirty">
					                    <span ng-show="formularioNuevo.unidad.$error.required">Ingrese una unidad</span>
					                </div>
					    			<br>
					    		</div>
					        	<div class="col-xs-12" ng-class="{ 'has-error' :formularioNuevo.codEst.$error.required && !formularioNuevo.codEst.$pristine}">
					    			<label>Código de Establecimiento (*): </label>
						    		<div class="input-group">
						    			<input type="text" name="codEst" class="form-control" placeholder="Código de Establecimiento" ng-model="codEst" disabled="true" required>
						    			<div class="input-group-btn">
						    				<a class="btn btn-info" ng-click='abrirModal("#buscar")'><span class="fa fa-search"></span> Buscar</a>
						    			</div>
						    		</div>
						    		<div class="has-errorColor" ng-show="formularioNuevo.codEst.$dirty">
					                    <span ng-show="formularioNuevo.codEst.$error.required">Ingrese un código de establecimiento</span>
					                </div>
					    			<br>
					    		</div>
						    	<div class="col-xs-12" ng-show="verDireccion" ng-class="{ 'has-error' :(formularioNuevo.direccion.$error.required || formularioNuevo.direccion.$error.pattern) && !formularioNuevo.direccion.$pristine}">
					    			<label>Dirección (*): </label>
					    			<input type="text" name="direccion" class="form-control" placeholder="Dirección" ng-model="direccion" disabled="true" ng-pattern="/^([^\f\n\r\t\v]){1,300}$/" required>
					    			<div class="has-errorColor" ng-show="formularioNuevo.direccion.$dirty">
					                    <span ng-show="formularioNuevo.direccion.$error.required">Ingrese una dirección</span>
                                    	<span ng-show="formularioNuevo.direccion.$error.pattern">La dirección no puede tener más de 300 caracteres</span>
					                </div>
					    			<br>
					    		</div>
						    	<div class="col-xs-12" ng-class="{ 'has-error' :(formularioNuevo.ultFact.$error.required || formularioNuevo.ultFact.$error.pattern) && !formularioNuevo.ultFact.$pristine}">
					    			<label>N° Factura (*): </label>
					    			<input type="text" name="ultFact" class="form-control" placeholder="N° Factura" ng-model="ultFact" ng-pattern="/^\d+$/" required>
					    			<div class="has-errorColor" ng-show="formularioNuevo.ultFact.$dirty">
					                    <span ng-show="formularioNuevo.ultFact.$error.required">Ingrese un número de Factura</span>
					                    <span ng-show="formularioNuevo.ultFact.$error.pattern">Ingrese un número de Factura valido</span>
					                </div>
					    			<br>
					    		</div>
						    	<div class="col-xs-12" ng-class="{ 'has-error' :(formularioNuevo.ultBole.$error.required || formularioNuevo.ultBole.$error.pattern) && !formularioNuevo.ultBole.$pristine}">
					    			<label>N° Boleta (*): </label>
					    			<input type="text" name="ultBole" class="form-control" placeholder="N° Boleta" ng-model="ultBole" ng-pattern="/^\d+$/" required>
					    			<div class="has-errorColor" ng-show="formularioNuevo.ultBole.$dirty">
					                    <span ng-show="formularioNuevo.ultBole.$error.required">Ingrese un número de boleta</span>
					                    <span ng-show="formularioNuevo.ultBole.$error.pattern">Ingrese un número de boleta valido</span>
					                </div>
					    			<br>
					    		</div>
						    	<div class="col-xs-12" ng-class="{ 'has-error' :(formularioNuevo.telefono.$error.required ||  formularioNuevo.telefono.$error.pattern) && !formularioNuevo.telefono.$pristine}">
					    			<label>Teléfono (*): </label>
					    			<input type="text" name="telefono" class="form-control" placeholder="Teléfono" ng-model="telefono" ng-pattern="/^([1-9]\d{6}|[1-9]\d{8})+$/" required>
					    			<div class="has-errorColor" ng-show="formularioNuevo.telefono.$dirty">
					                    <span ng-show="formularioNuevo.telefono.$error.required">Ingrese un teléfono</span>
                                        <span ng-show="formularioNuevo.telefono.$error.pattern">Ingrese un teléfono valido</span>
					                </div>
					    			<br>
					    		</div>
						    	<div class="col-xs-12" ng-class="{ 'has-error' :(formularioNuevo.correo.$error.required || formularioNuevo.correo.$error.email)&& !formularioNuevo.correo.$pristine}">
					    			<label>Correo (*): </label>
					    			<input type="email" name="correo" class="form-control" placeholder="Correo" ng-model="correo" required>
					    			<div class="has-errorColor" ng-show="formularioNuevo.correo.$dirty">
					                    <span ng-show="formularioNuevo.correo.$error.required">Ingrese un correo</span>
					                    <span ng-show="formularioNuevo.correo.$error.email">Ingrese un correo valido</span>
					                </div>
					    			<br>
					    		</div>				    		
						    </div>
						</form>
					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="btn btn-primary" ng-click="guardar()" ng-disabled="formularioNuevo.$invalid" >Guardar</a>
						<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
					</div>
			</div>
		</div>
	</div>
	<div id="confirmacion" class="modal fade bs-example-modal-sm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  			<div class="modal-dialog modal-sm" role="document">
    			<div class="modal-content">
					<div class="modal-header">
						<div style="background-color:#428bca" class="text-center">
							<h3 style="color:white;" class="modal-title">Eliminar</h3>
						</div>
					</div>
					<div class="modal-body">
						<label>¿Esta seguro que desea Eliminar el establecimiento?</label>
					</div>
					<form  action="{{url}}"  method="POST">
						<div class="modal-footer text-center">
							<a href="javascript:;" class="btn btn-primary" data-dismiss="modal" ng-click="borrar(conf)">Si</a>
							<a href="javascript:;" class="btn btn-default" data-dismiss="modal">No</a>
						</div>
					</form>
				</div>
			</div>
		</div>
<!-- Modal Arbol -->
	<div  id="modalDependencia" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"><span style="color:#0431B4">DEPENDENCIAS</span>  </h4>
	      </div>
	      <div class="modal-body"  style="max-height: 520px;overflow-y: auto;">
	      
	
	            <div class="tree"  ng-show="dependencia != null">
						<ul>
							<li ng-show="true">
								<a ng-click="expandirContraer($event,dependencia.descripcion)"   >{{dependencia.descripcion}}</a>
								<ul>
									<li ng-show="primerNivel" ng-repeat="aux1 in dependencia.unidades" >
										<a ng-click="expandirContraer($event, aux1.descripcion)"   >{{aux1.codUnidad}}-{{aux1.descripcion}}</a>
										<ul>
											<li ng-show="{{aux1.codUnidad}}" ng-repeat="aux2 in aux1.unidades"  >
												<a ng-click="expandirContraer($event, aux2.descripcion)"    >{{aux2.codUnidad}}-{{aux2.descripcion}}</a>
												<ul>
													<li ng-show="{{aux2.codUnidad}}" ng-repeat="aux3 in aux2.unidades"  >
														<a ng-click="expandirContraer($event, aux3.descripcion)">{{aux3.codUnidad}}-{{aux3.descripcion}}</a>
														<ul>
															<li ng-show="{{aux3.codUnidad}}" ng-repeat="aux4 in aux3.unidades"  >
																<a ng-click="expandirContraer($event, aux4.descripcion)">{{aux4.codUnidad}}-{{aux4.descripcion}}</a>
																<ul>
																	<li ng-show="{{aux4.codUnidad}}" ng-repeat="aux5 in aux4.unidades"  >
																		<a ng-click="expandirContraer($event, aux5.descripcion)">{{aux5.codUnidad}}-{{aux5.descripcion}}</a>
																		<ul>
																			<li ng-show="{{aux5.codUnidad}}" ng-repeat="aux6 in aux5.unidades"  >
																				<a ng-click="expandirContraer($event, aux6.descripcion)">{{aux6.codUnidad}}-{{aux6.descripcion}}</a>
																				<ul>
																					<li ng-show="{{aux6.codUnidad}}" ng-repeat="aux7 in aux6.unidades"  >
																						<a ng-click="expandirContraer($event, aux7.descripcion)">{{aux7.codUnidad}}-{{aux7.descripcion}}</a>
																					</li>
																				</ul>
																			</li>
																		</ul>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
												</ul>
										   </li>
	
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
	      </div>
	      <div class="modal-footer">
	        <button  ng-click="aceptarDependencia()"  type="button" class="btn btn-primary">Aceptar</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	      </div>
	    </div>
	  </div>
	</div>  
	<!-- Fin Modal Arbol -->
		<div class="modal fade" id="mensaje">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 class="modal-title">Notificación</h4>
					</div>
					<div class="modal-body">
						<h5 class="text-center">{{mensaje}}</h5>
					</div>
			         <div class="modal-footer text-right">
			         	<button type="button" class="btn btn-info" data-dismiss="modal">Aceptar</button>
			        </div>
				</div>
			</div>
		</div>
		<div class="modal fade" data-backdrop="static" id="buscar">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 class="modal-title">BUSCAR ESTABLECIMIENTO</h4>
					</div>
					<div class="modal-body">
						<div class="row">
						    <div class="col-xs-12">
						    <div id="tableCRUCContainer" class="tablecontainer table-responsive">
								<table ng-table="tableParams3" class="table table-bordered table-condensed" >					
			                        <tr ng-repeat="c3 in $data" ng-click="selectRowCliente($index,c3)" ng-class="{'highlight': $index == selectedRow}" style=" cursor: pointer;" ng-dblclick="dobleClickCliente($index,c3)">
										<td data-title="'CÓDIGO'" filter="{ 'codigo': 'text'}" style="text-align: center"><div ng-bind="c3.codigo"></div></td>
										<td data-title="'TIPO'" filter="{ 'tipo': 'text'}" style="text-align: center"><div ng-bind="c3.tipo"></div></td>
										<td data-title="'DIRECCIÓN'" filter="{ 'direccion': 'text'}" style="text-align: center"><div ng-bind="c3.direccion"></div></td>
			                		</tr>
		                        </table>
		                        </div>
				    		</div>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="btn btn-primary" data-dismiss="modal" ng-click="seleccionar()">Seleccionar</a>
						<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
					</div>
				</div>
			</div>
		</div>
  <div id="confirmacion2" class="modal fade bs-example-modal-sm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  			<div class="modal-dialog modal-sm" role="document">
    			<div class="modal-content">
					<div class="modal-header">
						<div style="background-color:#428bca" class="text-center">
							<h3 style="color:white;" class="modal-title">{{tituloMensaje}}</h3>
						</div>
					</div>
					<div class="modal-body">
						<label>{{textoMensaje}}</label>
					</div>
					<div class="modal-footer text-center">
			     	 	<button class="btn btn-primary" ng-click="cambiarColor(cTemp,indice)" data-dismiss="modal">Si</button>
						<a href="javascript:;" class="btn btn-default" data-dismiss="modal">No</a>
					</div>
				</div>
			</div>
		</div>