<meta charset="utf-8" />

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title" style="font-size:15px;">CONSULTA NOTAS DE CRÉDITO - FACTURA</h4>
    </div>
    <div class="panel-body">
    	<form name="formularioConsulta">
			<div class="col-xs-12 col-sm-4" ng-class="{ 'has-error' : (formularioConsulta.fechaInicial.$error.required || formularioConsulta.fechaInicial.$error.pattern) && !formularioConsulta.fechaInicial.$pristine}">
				<label>Fecha Inicial:</label>
				<div class="input-group">
					<input type="text" class="input-sm form-control InputDate" name="fechaInicial" id="fechaInicial" ng-model="fechaInicial" placeholder="fechaInicial" ng-pattern="/^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$/" required disabled/>
					<label class="input-group-addon btn btn-inverse" id="btnFechaInicial"><span class="glyphicon glyphicon-calendar"></span></label>
				</div>
				<div class="has-errorColor" ng-show="formularioConsulta.fechaInicial.$dirty">
					<span ng-show="formularioConsulta.fechaInicial.$error.required">Ingrese una fecha</span>
					<span ng-show="formularioConsulta.fechaInicial.$error.pattern">Ingrese una fecha valida</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4" ng-class="{ 'has-error' : (formularioConsulta.fechaFinal.$error.required || formularioConsulta.fechaFinal.$error.pattern) && !formularioConsulta.fechaFinal.$pristine}">
				<label>Fecha Final:</label>
				<div class="input-group">
					<input type="text" class="input-sm form-control InputDate" name="fechaFinal" id="fechaFinal" ng-model="fechaFinal" placeholder="fechaFinal" ng-pattern="/^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$/" required disabled/>
					<label class="input-group-addon btn btn-inverse" id="btnFechaFinal"><span class="glyphicon glyphicon-calendar"></span></label>
				</div>
				<div class="has-errorColor" ng-show="formularioConsulta.fechaFinal.$dirty">
					<span ng-show="formularioConsulta.fechaFinal.$error.required">Ingrese una fecha</span>
					<span ng-show="formularioConsulta.fechaFinal.$error.pattern">Ingrese una fecha valida</span>
				</div>
			</div>
	    	<div class="col-xs-12 col-sm-4">
	    		<br>
	    		<button class="btn btn-primary center-block" ng-click="consultar()" ng-disabled="formularioConsulta.$invalid">Consultar</button>
	    	</div>
    	</form>
		<script>
			$(function() {
				$.datepicker.regional['es'] = {
					monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
					monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
					dayNames: ['Domingo', 'Lunes', 'Martes', 'Mi&eacute;rcoles', 'Jueves', 'Viernes', 'S&aacute;bado'],
					dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','S&aacute;b'],
					dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;']
				};

				$.datepicker.setDefaults($.datepicker.regional['es']);

				var dateFormat = "dd/mm/yy",
						from = $( "#fechaInicial" ).datepicker({
							dateFormat : 'dd/mm/yy',
							changeMonth : true,
							changeYear : true,
							yearRange: '-100y:c+nn',
							minDate: '01/01/05',
							maxDate: '0d'
						})
								.on( "change", function() {
									to.datepicker( "option", "minDate", getDate( this ) );
								}),
						to = $( "#fechaFinal" ).datepicker({
							dateFormat : 'dd/mm/yy',
							changeMonth : true,
							changeYear : true,
							yearRange: '-100y:c+nn',
							minDate: '01/01/05',
							maxDate: '0d'
						})
								.on( "change", function() {
									from.datepicker( "option", "maxDate", getDate( this ) );
								});

				$("#btnFechaInicial").click(function() {
					$("#fechaInicial").datepicker("show");
				});

				$("#btnFechaFinal").click(function() {
					$("#fechaFinal").datepicker("show");
				});

				function getDate( element ) {
					var date;
					try {
						date = $.datepicker.parseDate( dateFormat, element.value );
					} catch( error ) {
						date = null;
					}

					return date;
				}
			});
		</script>
	</div>
</div>

<div class="panel panel-inverse" id="panelResult" style="display:none">
    <div class="panel-heading">
        <h4 class="panel-title" style="font-size:15px;">MANTENIMIENTO DE NOTAS DE CRÉDITO - FACTURA</h4>
    </div>
    <div class="panel-body">  	
		    <div class="row" ng-show="VisibleResultTable">
			        <div class="col-xs-11">
			        </div>
		        <div class="col-xs-1">
		            <h5>Duplicar PDF&nbsp;&nbsp;<input type="checkbox" style=" vertical-align:bottom;" ng-model="doblePagina"/></h5>
		        </div>
		    </div>    		    	    	   
    	<div class="tablecontainer table-responsive" ng-show="VisibleResultTable">
        	<table ng-table="tableParams" class="table table-striped table-bordered table-condensed table-hover">
        		<colgroup>
				  <col width="6%" />
				  <col width="10%" />
				  <col width="12%" />
				  <col width="27%" />
				  <col width="10%" />
				  <col width="20%" />
				  <col width="15%" />
				</colgroup>
                <tr ng-repeat="c in $data">
                    <script type="text/ng-template" id="path/to/your/filters/number.html">
                        <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" maxlength="12" placeholder="Buscar" />  
                    </script>
                    <script type="text/ng-template" id="path/to/your/filters/serie.html">
                        <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" maxlength="3" placeholder="Buscar" />  
                    </script>
                    <script type="text/ng-template" id="path/to/your/filters/comp.html">
                        <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" maxlength="8" placeholder="Buscar" />  
                    </script>
                    <script type="text/ng-template" id="path/to/your/filters/emision.html">
                         <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" maxlength="8" placeholder="Buscar" />  
                    </script>
                    <script type="text/ng-template" id="path/to/your/filters/nombre.html">
                         <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" maxlength="20" placeholder="Buscar" />  
                    </script>
                    <script type="text/ng-template" id="path/to/your/filters/tipo.html">
                         <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" maxlength="20" placeholder="Buscar" />  
                    </script>
                	<td  data-title="'SERIE'" filter="{ 'codEst': 'path/to/your/filters/serie.html'}" style="vertical-align:middle;text-align: center"><div ng-bind="c.codEst"></div></td>
                    <td  data-title="'N° NOTA'" filter="{ 'serie': 'path/to/your/filters/comp.html'}" style="vertical-align:middle;text-align: center"><div ng-bind="c.serie"></div></td>
                    <td  data-title="'FECHA EMISIÓN'" filter="{ 'fechaEmision': 'path/to/your/filters/emision.html'}" style="vertical-align:middle;text-align: center">{{$c.fechaEmision=c.fechaEmision.substr(0,c.fechaEmision.length-11) | date:'dd/MM/yyyy'}}</td>
                    <td  data-title="'NOMBRE'" filter="{ 'nombre': 'path/to/your/filters/nombre.html'}" style="vertical-align:middle;text-align: left"><div ng-bind="c.nombre"></div></td>
                    <td  data-title="'TIPO OPERACIÓN'" filter="{ 'tipoNota': 'path/to/your/filters/tipo.html'}" style="vertical-align:middle;text-align:center"><div ng-bind="c.tipoNota"></div></td>
                    <td  data-title="'ESTADO'" filter="{'enviar' : 'select'}" filter-data="estados" style="vertical-align:middle;text-align: center"><button style='width:200px;' class={{c.enviar|color}} ng-click="cambio(c,$index)" title="Tienes 7 días despúes de la fecha de emisión como máximo para enviar" ng-disabled="deshabilitar(c.enviar)">{{c.enviar|nombre}}</button></td>
                    <td  data-title="'OPCIONES'" style="vertical-align:middle;text-align: center;">
                     	 <a title="Detalle" class="btn btn-info" ng-click="detallar(c)"><span class="fa fa-info-circle"></span></a>
                   		 <a target="_blank" title="Descargar en PDF" ng-click="verPDF(c.codEst,c.serie)">
                   		 	<button title="Descargar en PDF" class="btn btn-success" type="submit"><span class="fa fa-download"></span></button>
                   		 </a>
                   		 <a title="Envio" class="btn btn-danger" ng-click="initCorreo(c)"><span class="fa fa-envelope"></span></a>                   		                    		 
					</td>
                </tr>
            </table>
    	</div>
    	
    	<div class="row" id="noMatches" ng-show="!VisibleResultTable">
		    <div class="col-md-12">
				<p class="hidden-sm text-center" style="font-size:16px;">No se encontraron notas de crédito</p>
		    </div>
		</div>
		  
	</div>
</div>

<spinner-modal show="{{modalSpinnerShow}}"></spinner-modal>

<div class="modal fade" id="detalle" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">DETALLE</h4>
        </div>
        <div class="modal-body">
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Emisión: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.fechaEmisionP"></label>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Dependencia Generadora: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.facultad"></label>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Unidad: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.unidad"></label>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Establecimiento: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.codEst"></label>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>N° Nota de Crédito: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.serie"></label>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Tipo Nota de Crédito: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.tipoNota"></label>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Motivo: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.motivo"></label>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Cliente ({{detalle.tipoDoc}}): </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.docIden"></label>
		    	</div>
		    </div>		    
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Nombre: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.nombre"></label>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Dirección: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.direccion"></label>
		    	</div>
		    </div>		    
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Moneda: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.moneda"></label>
		    	</div>
		    </div>
<!-- 		    <div ng-show="operacionBancaria(detalle.formaPago)">
		    	<div class="row">
			    	<div class="col-xs-3 text-right">
			    		<label>Banco: </label>
			    	</div>
			    	<div class="col-xs-9">
			    		<label>{{texto(detalle.banco)}}</label>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-xs-3 text-right">
			    		<label>Fecha Operación: </label>
			    	</div>
			    	<div class="col-xs-9">
			    		<label>{{texto(detalle.fechaOperacion)}}</label>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-xs-3 text-right">
			    		<label>N° Operación: </label>
			    	</div>
			    	<div class="col-xs-9">
			    		<label>{{texto(detalle.nOperacion)}}</label>
			    	</div>
			    </div>
		    </div> -->
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Subtotal: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label>{{moneda(detalle.moneda,detalle.pCambio)}} {{detalle.subTotal.toFixed(2)}}</label>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>IGV: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label>{{moneda(detalle.moneda,detalle.pCambio)}} {{detalle.igv.toFixed(2)}}</label>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Total: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label>{{moneda(detalle.moneda,detalle.pCambio)}} {{detalle.total.toFixed(2)}}</label>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Importe: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.importeOperacion"></label>
		    	</div>
		    </div>		    
		    <div class="row">
		    	<div class="col-xs-3 text-right">
		    		<label>Usuario: </label>
		    	</div>
		    	<div class="col-xs-9">
		    		<label ng-bind="detalle.usuario"></label>
		    	</div>
	    	</div>
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

<div id="confirmacion" class="modal fade bs-example-modal-sm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  			<div class="modal-dialog modal-sm" role="document">
    			<div class="modal-content">
					<div class="modal-header">
						<div style="background-color:#428bca" class="text-center">
							<h3 style="color:white;" class="modal-title">{{tituloMensaje}}</h3>
						</div>
					</div>
					<div class="modal-body">
						<label>{{textoMensaje}}</label>
					</div>
					<div class="modal-footer text-center">
			     	 	<button class="btn btn-primary" ng-click="volverAEnviar(cTemp,indice)" data-dismiss="modal">Si</button>
						<a href="javascript:;" class="btn btn-default" data-dismiss="modal">No</a>
					</div>
				</div>
			</div>
</div>
	  <div id="enviarCorreo" class="modal fade" style=" padding-top: 15%;" data-backdrop="static" tabindex="-1" role="dialog">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
					<div class="modal-header">
						<div style="background-color:#428bca" class="text-center">
							<h3 style="color:white;" class="modal-title">Enviar correo</h3>
						</div>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" id="formCorreo" name="formCorreo">
                         	<div class="form-group">
	                             <label class="col-md-4 control-label">NOTA DE CREDITO:</label>
	                             <div class="col-md-8">
	                                 <input type="text" class="input-sm form-control" ng-model="correoModel.documento" required disabled/>
	                             </div>
                             </div>		                          
                         	<div class="form-group">
	                             <label class="col-md-4 control-label">CORREO:</label>
	                             <div class="col-md-8" ng-class="{ 'has-errorColor' :formCorreo.email.$invalid && !formCorreo.email.$pristine }">
	                                 <input type="text" class="input-sm form-control" name="email" ng-model="correoModel.correoDestino" placeholder="Correo electrónico a enviar" ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/" required/>
	                                 <span ng-show="formCorreo.email.$error.pattern && !formCorreo.email.$pristine">Ingrese un email válido</span>
	                             </div>
                             </div>	                          					
						</form>
					</div>
					<div class="modal-footer">
			     	 	<button class="btn btn-primary" ng-click="enviarCorreo()" data-dismiss="modal" ng-disabled="formCorreo.$invalid">Enviar</button>
						<a href="javascript:;" class="btn btn-default" data-dismiss="modal">Cerrar</a>
					</div>
				</div>
			</div>
	</div>